.home{
    background-image: url(../IMGS/abstract-uv-ultraviolet-light-composition.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    color: white;
}
.home1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
}
.home2 h2::after{
content: "|";
animation-name: bodi;
animation-duration:1.5s;
animation-iteration-count: infinite;
}
@keyframes bodi {
    0%{content: "|";}
    7%{content: "p|";}
    14%{content: "pr|";}
    21%{content: "pro|";}
    28%{content: "prof|";}
    35%{content: "profi|";}
    42%{content: "profil|";}
    49%{content: "profile|";}
    56%{content: "profil|";}
    63%{content: "profi|";}
    70%{content: "prof|";}
    77%{content: "pro|";}
    84%{content: "pr|";}
    91%{content: "p|";}
    98%{content: "|";}
}